---
layout: page
title: Gallery
# permalink: /about/
nav_order: 4
---

<!-- <h1 class="page-heading">Gallery</h1> -->

{% assign sorted_collection = site.my_collection | sort: 'date' | reverse %}

<ul class="post-list">
	{% for article in sorted_collection %}
		{% if article.categories contains "gallery" %}
		<div class="list-item">
			<div class = "list-image"><img src="{{site.baseurl}}/{{ article.cover_image }}" alt="Cover image" /> </div>
			<div class = "list-content">
				<li>
				<span class="post-meta">{{ article.date | date: "%b %-d, %Y" }}</span>

				<h2>
				  <a class="post-link" href="{{ article.url | relative_url }}">{{ article.title | escape }}</a>
				</h2>
				</li>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</ul>
