---
layout: page
title: Projects
# permalink: /about/
nav_order: 2
---

<h1 class="page-heading">HU Yaoyu's research project experiences</h1>
  
<ul class="post-list">
	{% for article in site.my_collection %}
		{% if article.categories contains "projects" %}
		  <li>
		    <span class="post-meta">{{ article.date | date: "%b %-d, %Y" }}</span>

		    <h2>
		      <a class="post-link" href="{{ article.url | relative_url }}">{{ article.title | escape }}</a>
		    </h2>
		  </li>
		{% endif %}
	{% endfor %}
</ul>