---
layout: default
---

<div class="home">

  <!-- <h1>Show some variables</h1>
  <p>site.baseurl = <b>{{ sit.baseurl }}</b></p>

  <h1>Try site data here</h1>
  <p>The value of site.data.common_data.myself.university is <b>{{ site.data.common_data.myself.university }}</b></p>
  <p>Other data are as follows: <br>
    site.data.common_data.myself.department = <b>{{ site.data.common_data.myself.department }}</b><br>
    site.data.common_data.myself.major = <b>{{ site.data.common_data.myself.major }}</b><br>
    site.data.common_data.myself.birth_date = <b>{{ site.data.common_data.myself.birth_date }}</b><br>
    site.data.common_data.myself.mobile_number = <b>{{ site.data.common_data.myself.mobile_number }}</b><br>
    site.data.common_data.myself.email = <b>{{ site.data.common_data.myself.email }}</b><br>
    site.data.common_data.myself.address = <b>{{ site.data.common_data.myself.address }}</b><br>
    site.data.common_data.myself.city = <b>{{ site.data.common_data.myself.city }}</b><br>
    site.data.common_data.myself.nation = <b>{{ site.data.common_data.myself.nation }}</b><br>
  </p> -->

  <!-- <h1>Highlighted codes</h1>
  <p>Highlight a fragment of C++ code:<br></p>

  {% highlight c++ linenos %}
#include <iostream>

int main(void)
{
  std::cout << "Hello world!" << std::endl;

  return 0;
}
  {% endhighlight %}

  <h1 class="page-heading">Blogs</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
 -->

<h1>Yaoyu Hu</h1>

<img src="Resources/Me01.JPG" alt="My portrait image." style="width:250px">

<p><b>Name:</b> Yaoyu Hu</p>

<p><b>Birth:</b> {{ site.data.common_data.myself.birth_date }}</p>

<p><b>Email:</b> {{ site.data.common_data.myself.email }}</p>

<p><b>Address:</b> {{ site.data.common_data.myself.address }}, {{ site.data.common_data.myself.city }}, {{ site.data.common_data.myself.nation }}.</p>

<p><b>Google Scholar:</b> <a href="https://scholar.google.com/citations?user=qIs5g7MAAAAJ" target="_blank">Yaoyu Hu</a></p>

<p><b>ResearchGate:</b> <a href="{{ site.data.common_data.myself.researchgate_addr }}" target="_blank">Yaoyu_Hu </a></p>

<p><b>Download the CV</b> <a href="{{site.baseurl}}/Resources/CV/YaoyuHu-CV-20170806.pdf" target="_blank"> here</a>. </p>

<p><b>For visitors from China or Chinese friends:</b></p>
<p>CSDN Blog: <a href="http://blog.csdn.net/huyaoyu" target="_blank">blog.csdn.net</a></p>
<p>Weibo: <a href="http://weibo.com/u/1627254052" target="_blank">weibo.com/u/1627254052</a></p>

<!-- <div class="post-list">
  {% for my_page in site.pages %}
    {% if my_page.title %}
    <li>{{ my_page.url }}</li>
    {% endif %}
  {% endfor %}
</div> -->

<h1>Recent blog posts</h1>

<h2>Read more on the <a href="{{ '/blog.html' | relative_url }}">Blog page.</a><h2>

<ul class="post-list">
    {% for post in site.posts limit:5 %}
    <div class="list-item">
      <div class = "list-image"><img src="{{site.baseurl}}/{{ post.cover_image }}" alt="Cover image" /> </div>
      <div class = "list-content">
      <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      </li>
    </div>
  </div>
    {% endfor %}
 </ul>

 <h2>Read more on the <a href="{{ '/blog.html' | relative_url }}">Blog page.</a><h2>

</div>
